:root {
  --text: #d2d3bb;
  --text-h: #f3f4f6;
  --bg: #e5dfca;
  --border: #2e303a;
  --grass-dark: #435503;
  --earth: #927635;
  --grass-muted: #63702e;
  --grass-bright: #969633;
  --light-themed: #e5dfca;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

html, body, #root {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

button {
  all: unset;
  cursor: pointer;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
}
